/* font-family: 'Reenie Beanie', cursive;
font-family: 'Caveat', cursive; */


body {
    background-image: url(public/haitian-emblem.png);
    
}
.header {
    font-family: 'Caveat', cursive;
    font-weight: 100;
    font-size: 60px;
}
.recipe-item {
    font-family: 'Reenie Beanie', cursive
}


.category {
    font : italic;
}

