/* font-family: 'Reenie Beanie', cursive;
font-family: 'Caveat', cursive; */


body {
    background: #00DFFF;
    
}
.header {
    font-family: 'Caveat', cursive;
    font-weight: 100;
    font-size: 60px;
    padding-left: 30px;
    margin-left: 20px auto;
}
.item {
    font-family: 'Reenie Beanie', cursive;
    font-weight: 200;
    font-size: 40px;
    margin: 40px;
    padding: 20px
}

a {
    text-decoration: none;
}

.clicker {
    background-color: #6600FF;
    border-radius: 30%;
    border-color: rgb(46, 3, 110);
    font-size: 20px;
    font-family: 'Reenie Beanie', cursive ;
    padding: 15px 25px;
    text-align: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 10px rgb(129, 94, 94);
    


}
.edit-button {
    margin-bottom: 30px;
    padding-bottom: 50px;
}
.clicker:hover {
    background-color: darkblue;

}

.clicker:active {
    transform: translateY(4px)
}

.category {
    

}

.list-item {
    margin: 50px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.single-item {
    font-family:'Reenie Beanie', cursive;
    font-size: 40px;
}

.label-item {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 300px;
    font-size: 30px;
    color: rgb(15, 15, 80);
}

.recipe-item {
    margin: 30px;
    padding: 10px;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    color: blueviolet
}