<h1>Create New List</h1>

<form action= "/list" method="POST">
    <label>Title</label>
    <input type= "text" name= "title" />

    <label>Produce</label>
    <input type= "text" name= "produce" />

    <label>Animal Protein</label>
    <input type= "text" name= "animalProtein" />

    <label>Dairy</label>
    <input type= "text" name= "dairy" />

    <input type= "submit" value= "Create" />


</form>