<h1>Create New List</h1>

<form action= "/list" method="POST">

    <label for= "produce">Produce</label>
    <textarea id="produce" name= "produce"></textarea> 

    <label for= "animalProtein">Protein</label>
    <textarea id= "animalProtein" name= "animalProtein"></textarea>

    <label for= "dairy">Dairy</label>
    <textarea id= "dairy" name= "dairy"></textarea>

    <label for= "misc">Misc</label>
    <textarea id= "misc" name= "misc"></textarea>




    <input type= "submit" value= "Create" />


</form>