<h1>Create New List</h1>

<form action= "/list" method="POST">

    <label>Produce</label>
    <textarea></textarea>

    <label>Protein</label>
    <textarea></textarea>

    <label>Dairy</label>
    <textarea></textarea>

    <label>Misc</label>
    <textarea></textarea>





    <input type= "submit" value= "Create" />


</form>