<h1>Categories</h1>

{{#each allType}}
 
<a class= "type-item" href="/type/{{oneType._id}}">

<h3>Meal Type</h3>
<h4>{{mealType}}</h4>

<h3>Cooking Type</h3>
<h4>{{cookingType}}</h4>

<h3>Diet Type</h3>
<h4>{{dietType}}</h4>

</a>
{{/each}}

<a href= "/list/new">
    <button>
        New List
    </button>
</a>