<h1>Edit Type</h1>

<form action="/type/{{oneType._id}}?_method=PUT" method="POST">

    <div class="category">
        <div for="mealType">Meal Type:</div>
        <input list="meals" id="mealType" name="mealType" value="{{oneType.mealType}}"/>

        <datalist id="meals">
            <option value="Breakfast">
            <option value="Lunch">
            <option value="Dinner">
            <option value="Snack">
        </datalist>

        <div for="cookingType">Cooking Type:</div>
        <input list="cooks" id="cookingType" name="cookingType" value="{{oneType.cookingType}}"/>

        <datalist id="cooks">
            <option value="Grilled">
            <option value="Fried">
            <option value="Baked">
            <option value="Broiled">
            <option value="boiled">
            <option value="sauteed">
        </datalist>

        <div for="dietType">Meal Type:</div>
        <input list="diets" id="dietType" name="dietType" value="{{oneType.dietType}}" />

        <datalist id="diets">
            <option value="High Carb">
            <option value="Low Carb">
            <option value="High Fat">
            <option value="Low Fat">

        </datalist>


        <input type="submit" value="Save" />
</form>

