<h1>Create New Recipe</h1>
<div class= 'recipe-item'>
<form action="/recipe" method="POST">

    <div>Name</div>
    <input type="text" name="name" />

    <div>Time</div>
    <input type="text" name="time" />

    <div>Servings</div>
    <input type="Number" name="servings" />

    <div for="ingredients">Ingredients</div>
    <textarea id="ingredients" name="ingredients" rows= "10">

    </textarea>

    <div for="prep">Prep</div>
    <textarea type="text" name="prep" cols="50" rows="10"></textarea>

    
    <input type="submit" value="Create" />

</form>
</div>
