<h1>Create New Recipe</h1>

<form action= "/recipe" method="POST">

    <label>Name</label>
    <input type="text" name="name" />

    <label>Time</label>
    <input type="text" name="time" />

    <label for= "ingredients">Ingredients</label>
    <textarea id="ingredients" name= "ingredients" > 

    </textarea>

    <label for= "prep">Prep</label>
    <textarea type= "text" name= "prep"> 

    </textarea>
    
    <label>Servings</label>
    <input type="Number" name="servings" />

    <input type="submit" value="Create" />

</form>
